/*CSS Document*/
.grid-container {
  display: grid;
  grid-gap: 40px;
  background-color: #ffff;
  padding: 40px;
}

header {
  color: #white;
  text-transform: uppercase;
  font-family: "Helvetica", "Arial", Roboto;
  font-size: 20px;
  margin:0;
  padding:0;
  text-align: center;
  width: 450px;
}

h1,
h2,
h3 {
  color: #black;
  font-family: "Helvetica", "Arial" Roboto;
  text-align: center;
  padding: 50;
}

h3 {
  font-size: 24px;
}





#nav {
width:450px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none;
}
