.grid-container {
  display: grid;
  grid-gap: 40px;
  background-color: #808080;
  padding: 40px;
}

header {
  color: #000000;
  text-transform: uppercase;
  font-family: "Helvetica", "Arial", Roboto;
  font-size: 80px;
}



h1,
h2,
h3 {
  color: #000000;
  font-family: "Helvetica", "Arial" Roboto;
}

h3 {
  font-size: 32px;
}


/* link */

a:link {
  color: #ffffff;
}


/* other link */

a:visited {
  color: #000000;
}


a:hover {
  color: #FF0000;
}


/*  link selected */

a:active {
  color: #ffffff;

}
table{
  background-color: #FF4500;
}
table, tr, td, th{
 border: 1px solid #000000;
 padding: 10px;
}

th{
  font-weight: bolder;
}
tr{
  background-color: #ffffff;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: "Helvetica", "Arial" Roboto;

}

.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.item3 a,
.item4 a,
.item5 a {
  color: ##000000;
  text-decoration: none;
  font-weight: bolder;
}

.item3 {
  grid-column: 1 / span 1;
  grid-row: 3;
  border-radius: 20px;
  cursor: pointer;
}

.item4 {
  grid-column: 2 / span 1;
  grid-row: 3;
  border-radius: 20px;
  cursor: pointer;
}

.item5 {
  grid-column: 3 / span 1;
  grid-row: 3;
  border-radius: 20px;
  cursor: pointer;
}

.item3:hover,
.item4:hover,
.item5:hover {
  background-color: #ffffff;
}

.item6 {
  grid-column: 1 / span 3;
  grid-row: 4;

}

.item7 {
  grid-column: 1 / span 3;
  grid-row: 5;
}

article {
  max-width: 900px;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  font-family: "Helvetica", "Arial" Roboto;
}

.item8 {
  grid-column: 1 / span 3;
  grid-row: 6;
  background-color: #ce1126;

}
.item8 h2{
  color: #ffffff;
}
.item9 {
  grid-column: 1 / span 3;
  grid-row: 7;
}

.item9 p {
  font-size: 20px;
}

.item10 {
  grid-column: 1 / span 3;
  grid-row: 8;
 background-color: #ce1126;

}
.item10 h2{
  color: #ffffff;
}
.item11 {
  grid-column: 1 / span 3;
  grid-row: 9;
}

.item12 {
  grid-column: 1 / span 3;
  grid-row: 10;
 background-color: #ce1126;

}
.item12 h2{
  color: #ffffff;
}

.item13 {
  grid-column: 1 / span 3;
  grid-row: 11;
}

.item14 {
  grid-column: 1 / span 3;
  grid-row: 12;
}

footer{
  font-weight: bolder;
}
